$color-primary: #45e237;
$color-primary-light: #7df872;
$color-primary-darker: #66a80f;
$color-primary-darkest: #385502;
$gray-light: #f0f0f0;
$gray-darker: #ced3d8;
$gray-darkest: #101010;
$danger: #c21423;
